@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    
}

.exampleOne {
    width: 250px;
    height: 250px;
    text-align: center;
    background: rgb(17, 0, 255);
    margin: 5rem 1rem;
    animation: exampleOne;
    animation-duration: 6s;
}

.exampleTwo {
    width: 250px;
    height: 250px;
    text-align: center;
    background: #00203f;
    margin: 5rem 1rem;
    animation: exampleTwo;
    animation-duration: 6s;
}

.exampleThree {
    width: 250px;
    height: 250px;
    text-align: center;
    background: red;
    margin: 5rem 1rem;
    animation: exampleThree;
    animation-duration: 4s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: infinite;
}

.exampleFour {
    width: 250px;
    height: 250px;
    text-align: center;
    background: #000;
    margin: 5rem 1rem;
    animation: exampleFour;
    animation-duration: 8s;
    position: relative;
    animation-iteration-count: 3;
}

.main-2 {
    display: flex;
    justify-content: space-evenly;
}
.exampleFive {
    width: 250px;
    height: 250px;
    text-align: center;
    background: #000;
    margin: 5rem 1rem;
    animation: exampleFive;
    animation-duration: 8s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

.exampleSix {
    width: 250px;
    height: 250px;
    text-align: center;
    background: #000;
    margin: 5rem 1rem;
    animation: exampleFive;
    animation-duration: 8s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


h3 {
    font-size: 1.5rem;
    color: #fff;
    padding: 6.5rem 0.3rem;
}

@keyframes exampleOne {
    from {
        background: rgb(17, 0, 255);
    }
    to {
        background: chartreuse;
    }
}

@keyframes exampleTwo {
    0% { background: #00203f; }
    25% { background: #0063B1; }
    50% { background: #ADF0D1; }
    75% { background: #2bae68;}
    100% { background: #6E6E6C;}
}

@keyframes exampleThree {
    0% { background: red; left: 0px; top: 0px;}
    25% { background: yellow; left: 200px; top: 0px;}
    50% { background: blue; left: 200px; top: 200px;}
    75% { background: #6E6E6C; left: 0px; top: 200px;}
    100% { background: red; left: 0px; top: 0px;}
}

@keyframes exampleFour {
    0% { background: red; left: 0px; top: 0px;}
    25% { background: yellow; left: 0px; top: 0px;}
    50% { background: black; left: 0px; top: 200px;}
    75% { background: #6E6E6C; left: 0px; bottom: 200px;}
    100% { background: red; left: 0px; top: 0px; bottom: 0px;}
}

@keyframes exampleFive {
    0% { background: red; left: 0px; top: 0px;}
    25% { background: yellow; left: 200px; top: 0px;}
    50% { background: blue; left: 200px; top: 200px;}
    75% { background: #6E6E6C; left: 0px; top: 200px;}
    100% { background: red; left: 0px; top: 0px;}
}

@keyframes exampleSix {
    0% { background: red; left: 0px; top: 0px;}
    25% { background: yellow; left: 200px; top: 0px;}
    50% { background: blue; left: 200px; top: 200px;}
    75% { background: #6E6E6C; left: 0px; top: 200px;}
    100% { background: red; left: 0px; top: 0px;}
}